<div class="sidebar">

    <ul class="list-group">
                
                    <a [routerLink]="['/home']"
                       [routerLinkActive]="['link-active']"
                       class="list-group-item">
                        <span class='glyphicon glyphicon-home'></span> Home
                    </a>
                

                    <a [routerLink]="['/counter']"
                       [routerLinkActive]="['link-active']"
                       class="list-group-item">
                        <span class='glyphicon glyphicon-education'></span> Counter
                    </a>


                    <a [routerLink]="['/fetch-data']"
                       [routerLinkActive]="['link-active']"
                       class="list-group-item">
                        <span class='glyphicon glyphicon-th-list'></span> Fetch data
                    </a>
               0
            </ul>

</div>
