<h1>Values</h1>

<p>This component demonstrates fetching data from the Web Api.</p>

<p *ngIf="!values"><em>Loading...</em></p>

<div ngNoForm
     class="form-inline">
    <div class="form-group">
        <label>Name</label>
        <input [(ngModel)]="newValue" required="">
    </div>
    <button (click)="create()"
            class="btn btn-default">Create</button>
</div>

<table class='table' 
       *ngIf="values">
    <thead>
        <tr>
            <th>Date</th>            
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let value of values">            
            <td>{{ value }}</td>
        </tr>
    </tbody>
</table>
